* {
	box-sizing: inherit;
	color: #444;
}
*:not(pre) { font-family: Roboto, sans-serif; }
*:not(h1) { font-size: 17pt; }

h1 { color: #5B258E; letter-spacing: 4px; }
a:hover h1 { color: #A179C7; }

.exclamacao { font-size: 1.75em; position: relative; top: 10px; }

body { margin: 20px; background-color: #F7F7F8; }

a.focusable { padding: 2px 7px 3px 7px; }
a, a.low.lowlight { text-decoration: none; }
a.low.lowlight { padding: 0; }
a:hover { text-decoration: underline; }

button { border-radius: 5px; width: 33px; height: 29px; background-color: #FFE; }

.display-none { display: none; }
.visibility-hidden { visibility: hidden; }

.small { font-size: 0.8em; }

a.lowlight { color: #888; }
a.lowlight:hover { color: #666; }

.text-align-center { text-align: center; }

.verde { color: #4CAF50; }
.azul { color: #1E83D4; }

.in-parei, .in-data, .in-hora { color: #795548; }
.in-parei { width: 200px; }
.in-data, .in-hora { text-align: center; }
.in-data { width: 125px; }
.in-hora { width: 67px; }

.fora-da-tela { top: -9999px; position: absolute; }

.github-icon { top: 2px; position: relative; opacity: 0.3; }